In [1]:
import pandas as pd 
import numpy as np
data = {'Course': ['COP4531', 'COP4656', 'CAP4612'],
     'Location': ['IST 65', 'IST 65', 'IST 67'],
     'GPA': [3.5, 3.8, 4.0]}
df = pd.DataFrame(data, columns=['Course', 'Location', 'GPA'])
print(df[1:])

    Course Location  GPA
1  COP4656   IST 65  3.8
2  CAP4612   IST 67  4.0

In [2]:


print(df[0:-1])

    Course Location  GPA
0  COP4531   IST 65  3.5
1  COP4656   IST 65  3.8

In [3]:


print(df.iloc[[0]])

    Course Location  GPA
0  COP4531   IST 65  3.5

In [4]:


print(df.iloc[[0],[0]])

    Course
0  COP4531

In [18]:


df.iat[0,0]

'COP4531'

In [6]:


print(df.loc[[0], ['Course']])

    Course
0  COP4531

In [7]:


df.shape

(3, 3)

In [8]:


df.index

RangeIndex(start=0, stop=3, step=1)

In [9]:


print(df.tail(1))

    Course Location  GPA
2  CAP4612   IST 67  4.0

In [10]:


df.count()

Course      3
Location    3
GPA         3
dtype: int64

In [11]:


df['Location'].value_counts()

IST 65    2
IST 67    1
Name: Location, dtype: int64

In [12]:


df['GPA'].sum()

11.3

In [13]:


f = lambda x:x*2
df['GPA'].apply(f)

0    7.0
1    7.6
2    8.0
Name: GPA, dtype: float64

In [14]:


s = pd.Series([4, -5, 2, 6], index=['a', 'b', 'c', 'd'])
s3 = pd.Series([5, -2, 4], index=['a', 'c', 'd'])
s.sub(s3,fill_value=0)

a   -1.0
b   -5.0
c    4.0
d    2.0
dtype: float64

In [15]:


print(pd.notnull(df['Course']))

0    True
1    True
2    True
Name: Course, dtype: bool

In [16]:
df.to_csv('myDataFrame.csv')
df_load = pd.read_csv( 'myDataFrame.csv', header=None)
print(df_load[1])

0     Course
1    COP4531
2    COP4656
3    CAP4612
Name: 1, dtype: object

In [17]:
df.describe()

            GPA
count  3.000000
mean   3.766667
std    0.251661
min    3.500000
25%    3.650000
50%    3.800000
75%    3.900000
max    4.000000